@page
@model RichsSnackRack.Pages.AllOrdersModel
@using RichsSnackRack.Orders.Models.Enums
@{
}
<script src="~/js/Ordering/Orders.js" asp-append-version="true" defer></script>
<style>
    #orderStatus{}
</style>
<div class="col-md-4">
    <input type="text" id="searchInput"class="search-query form-control" placeholder="Search By Order ..">
</div>
<div id ="groupedTable">
    @if (Model.orderDetails.Count is not 0)
    {

        var ordersByItem  = Model.orderDetails
            .GroupBy(od => od.Name)
            .Select(group => new
            {
                SnackName = group.Key,
                Orders = group.Select(grp => grp)
            });
        foreach (var item in ordersByItem)
        {
            <div>
                <h1>@item.SnackName Orders</h1>
            </div>
            
            <table class="table table-borded">
                <thead class="thead-dark">
                <tr>
                    <th>Order Id</th>
                    <th>Item Name</th>
                    <th>Base Price</th>
                    <th>Order Total</th>
                    <th>Order Date</th>
                    <td>Status </td>
                    <th>View Order</th>
                </tr>
                </thead>
                @foreach (var order in item.Orders)
                {
                    <tbody>
                    <tr>
                        <td>@order.Id.Value</td>
                        <td>@order.Name</td>
                        <td>@order.Price</td>
                        <td>@order.OrderTotal</td>
                        <td>@order.OrderDate</td>
                        <td class="orderStatus" data-bs-toggle="tooltip" data-bs-placement="left" title="@order.OrderStatus.Description">@order.OrderStatus.Name</td>
                        <td><a input="submit" class="btn btn-warning" asp-page="./OrderDetail" asp-route-id="@order.Id">View Order Detail</a></td>
                    </tr>
                    </tbody>
                }

            </table>
        
        }
    }
</div>