@page
@model RichsSnackRack.Pages.AllOrdersModel
@using RichsSnackRack.Orders.Models.Enums
@{
}
<script src="~/js/Ordering/Orders.js" asp-append-version="true" defer></script>
<style>
    #orderStatus{}
</style>
<div class="col-md-4">
    <input type="text" id="searchInput"class="search-query form-control" placeholder="Search By Order ..">
</div>
<div>
    <table class="table table-borded">
        <thead class="thead-dark">
            <tr>
                <th>Order Id</th>
                <th>Item Name</th>
                <th>Base Price</th>
                <th>Order Total</th>
                <th>Order Date</th>
                <td>Status </td>
                <th>View Order</th>
            </tr>
        </thead>

        @if (Model.orderDetails is not null && Model.orderDetails.Count is not 0)
        {
            foreach (var item in Model.orderDetails)
            {
                <tbody>
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td>@item.OrderTotal</td>
                        <td>@item.OrderDate</td>
                        <td class="orderStatus" data-bs-toggle="tooltip" data-bs-placement="left" title="@item.OrderStatus.Description">@item.OrderStatus.Name</td>
                        <td><a input="submit" class="btn btn-warning" asp-page="./OrderDetail" asp-route-id="@item.Id">View Order Detail</a></td>
                    </tr>
                </tbody>
            }
        }

    </table>
</div>
