@page
@model RichsSnackRack.Pages.AllOrdersModel
@using RichsSnackRack.Orders.Models.Enums
@{
}

<style>
    #orderStatus{}
</style>
<div class="col-md-4">
    <input type="text" id="searchInput"class="search-query form-control" placeholder="Search By Order ..">
</div>
<div>
    <table class="table table-borded">
        <thead class="thead-dark">
            <tr>
                <th>Order Id</th>
                <th>Item Name</th>
                <th>Price</th>
                <th>Order Date</th>
                <td>Status </td>
                <th>View Order</th>
            </tr>
        </thead>

        @if (Model.orderDetails is not null && Model.orderDetails.Count is not 0)
        {
            foreach (var item in Model.orderDetails)
            {
                <tbody>
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td>@item.OrderDate</td>
                        <td class="orderStatus" data-bs-toggle="tooltip" data-bs-placement="left" title="@item.OrderStatus.Description">@item.OrderStatus.Name</td>
                        <td><a input="submit" class="btn btn-warning" asp-page="./OrderDetail" asp-route-id="@item.Id">View Order Detail</a></td>
                    </tr>
                </tbody>
            }
        }

    </table>
</div>
<script defer>
    let orderStatuses = document.querySelectorAll('.orderStatus');

    orderStatuses.forEach(status => {
        switch (status.innerText)
        {
            case '@nameof(OrderStatus.Completed)':
                status.style.color = '#008000'
                break;
            case '@nameof(OrderStatus.Refunded)':
                status.style.color = '#FFFF00'
                break;
            case '@nameof(OrderStatus.Cancelled)':
                status.style.color = '#FF0000'
                break;
            default:
                break;
        };
    });

</script>
